/* Top Section */
.presentation {
  background-color: #E4F6F8;
  font-size: 1rem;
  padding: 3% 0 7%;
  text-align: center;
}

.top {
  font-size: 6rem;
  line-height: 1.2;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 180px;
}

.bottom-cloud {
  position: absolute;
  left: 150px;
  top: 180px;
}

#mignone-top {
  color: #11999e;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  max-width: 80%;
  text-align:center;
}

/* Bio Section */
.bio {
  align-self: auto;
  background-color: white;
  border-radius: 20px;
  margin-top: 20%;
  padding: 20% 15%;
}

.top-text {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 3rem;
}

.skills {
  padding: 7% 0 5%;
}

.section-title {
  color: #11999e;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 5%;
  text-align: center;
}

.skill-item {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 2;
  margin: auto;
  padding: 10%;
  text-align: left;
}

.image-skill {
  margin: 10% 33%;
  width: 25%;
}

/* Contact Section */
.contact {
  background-color: #E4F6F8;
  padding: 7% 0 7%;
}

.contact-title {
  margin: 0;
  padding-bottom: 10%;
}

#my-button {
  background-color: #11999e;
  border-radius: 20px;
  color: #E4F6F8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5% 30%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

#my-button:hover {
  background-color: white;
  color: gray;
}

/* Copyright Section */
.bottom-container {
  background-color: #11999e;
  color: #E4F6F8;
  padding: 3%;
  text-align: center;
}
