body {
  background: linear-gradient(180deg, rgba(228, 246, 248, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(17, 153, 158, 1) 100%);
}

/* Top Section */
.presentation {
  padding: 3% 0;
  text-align: center;
}

.island-img {
  padding-top: 50px;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 120px;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 3s;
}

.top-cloud:hover {
  position: absolute;
  right: 20%;
  top: 100px;
}

.middle-cloud {
  position: absolute;
  right: 35%;
  top: 150px;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 4s;
}

.middle-cloud:hover {
  position: absolute;
  right: 35%;
  top: 60px;
}

.bottom-cloud {
  position: absolute;
  left: 15%;
  top: 130px;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 3s;
}

.bottom-cloud:hover {
  position: absolute;
  left: 15%;
  top: 80px;
}

#mignone-top {
  color: #11999e;
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}

/* Bio Section */
.bio {
  align-self: auto;
  background-color: white;
  border-radius: 20px;
  margin: 10%;
  padding: 5% 5%;
}

.top-text {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 3rem;
}

/* Skills Section */
.skills {
  padding: 5% 0 5%;
}

.section-title {
  color: #11999e;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 900;
  /* margin-bottom: 5%; */
  text-align: center;
}

.skill-item {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  margin: auto;
  padding: 10%;
  text-align: center;
}

.image-skill {
  width: 60%;
  justify-content: left;
  padding: 15%;
}

.highlight-gradient {
  background-image: linear-gradient(to top, #11999e, #47babe);
  display: inline-block;
  padding: 0 3px;
  font-family: monospace;
  font-size: .9rem;
  border-radius: 4px;
  color: white;
}

/* Contact Section */
.contact {
  padding: 5% 0;
  /* justify-content: center; */
}

.contact-title {
  margin-bottom: 10%;
  padding-bottom: 10%;
}

div.row {
  align-content: center;
  justify-content: center;
}

#my-button {
  background-image: linear-gradient(to top, #11999e, #47babe);
  border-radius: 20px;
  color: #E4F6F8;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin: 5% 30%;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
  align-content: center;
}

#my-button:hover {
  background: transparent;
  background-color: white;
  color: gray;
}

/* Copyright Section */
.bottom-container {
  color: white;
  padding: 3%;
  text-align: center;
}
