body {
  color: #696B6F;
  margin: 0;
  text-align: center;
  font-family: 'Josefin Slab', serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
}

/* Top Section */

.top-container {
  padding: 7%;
  background-color: #E4F6F8;
}


h1 {
  color: #11999e;
  font-family: 'Indie Flower', cursive;
  font-size: 6rem;
  line-height: 1.2;
  margin: 0 auto;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.75rem;
  font-weight: normal;
  margin-top: 0;
}

.top-cloud {
  position: absolute;
  right: 250px;
  top: 220px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 280px;
}

/* Bio Section */

.bio-container {
  background-color: white;
  padding: 7% 15%;
  }

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #11999e;
  font-size: 1.75rem;
  font-weight: 600;
}

.skills-container {
  background-color: #E4F6F8;
  padding: 5%;
  }

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.image-skill {
  width: 15%;
  float: left;
  margin-right: 30px;
}

.image-skill2 {
  width: 15%;
  float: right;
  margin-left: 30px;
}

/* Contact Section */

.contact-container {
  padding: 7%;
}

.contact-title {
  margin: 0;
padding-bottom: 5%;
}

.btn {
  border-radius: 20px;
  color: #E4F6F8;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 200;
  padding: 15px;
  background-color: #11999e;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

a {
  margin: 10px 20px;
}

a:hover {
  color: #696B6F;
  background-color: white;
  margin: 10px 20px;
}

/* Copyright Section */

.bottom-container {

  background-color: #11999e;
  color: #E4F6F8;
  padding: 2%;
  /* padding-bottom: 10px; */
}
